{%  set words = goal['wordCollection'] %}
{%  set wordResult = goal['wordResult'] %}
{%  set setup = goal['setup'] %}
{%  set score = goal['score'] %}
{%  set routing = goal['route'] %}
{%  set currentWord = routing['currentWord'] %}
{%  set gender = words[currentWord]['gender'] %}
{%  set word = words[currentWord]['word'] %}
{%  set image = words[currentWord]['image'] %}

{% set wordCollectionJson = words|json_encode %}
{% set setUpJson = setup|json_encode %}
{% set scoreJson = score|json_encode %}
{% set routingJson = routing|json_encode %}
{% set goalJson =  {
    wordCollectionJson,
    setUpJson,
    routingJson,
    scoreJson

}
%}

{% include '@frontend_front/quiz/score.html.twig' %}
<h1 class="display-5 fw-bolder mb-0">
    <span class="d-inline text-muted">{{ wordResult['word'] }}</span>
</h1>

<div>
    <span id="dataGoal" data-goal="{{ goalJson|json_encode }}"
                 data-path="{{ path('frontend.frontoffice.checkOptionQuiz') }}"></span>
    <button class="btn btn-light optionsQuiz"
            data-option="der" data-wordposition="{{ currentWord }}">der</button>
    <button class="btn btn-light optionsQuiz"
            data-option="die" data-wordposition="{{ currentWord }}">die</button>
    <button class="btn btn-light optionsQuiz"
            data-option="das" data-wordposition="{{ currentWord }}">das</button>
</div>

<dis class="text-muted">
    Das Wort : <b>{{ wordResult['word'] }}</b> passt nicht zu <b>{{ option }}</b>
</dis>

<script src="{{ asset('assets/front/js/scripts.js')}}"></script>